@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

h1 {
    margin: 40px;

    color: antiquewhite;
    font-size: 200px;
}

.line {
    height: 1px;
    width: 670px;

    content: '';
    display: block;

    background-color: white;
}

.next {
    background-color: palevioletred;
    font-size: 30px;
    border-radius: 50px;
    padding: 8px;
    color: white;
}

.left {
    transform: rotate(180deg);
}

.MainPage {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100vh;
    gap: 30px;

    background-color: slategray;
    color: white;

    &__contents {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heart {
        font-size: 26px;
        font-family: 'Concert One', sans-serif;
        font-weight: 400;
        font-style: normal;
        color: palevioletred;
    }

    .name-box {
        display: flex;
        align-items: center;
        gap: 20px;

        font-size: 18px;
        color: black;
    }
}
